* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}
header {
    background-color: #223B87;
    color: #fff;
    /*padding: 0px 8px;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user {
    display: inline-block;

    color: white;
    padding: 9px 9px;
    text-decoration: none;
    border-radius: 4px;
    margin-right: 8px;
    border-color: #5784E6;
}

.logout-button {

    display: inline-block;
    background-color: #5784E6;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    border-color: #5784E6;

}

.logout-button:hover{
    background-color: #57B6E6;
}



.table-container {

    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    overflow-x: auto;
}

table {

    width: 50%;
    border-collapse: collapse;
    background-color: #ffffff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

thead {
    background-color: #007bff;
    color: #ffffff;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    border-bottom: 2px solid #0056b3;
}

td {
    border-bottom: 1px solid #e9ecef;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

/*Responsivo */
@media (max-width: 768px) {
    th, td {
        padding: 10px;
    }
}
.footer{
    margin-top: 3%;

}

.logo{
    content: " ";
    position: absolute;
    right: 90%;
    z-index: 1;
    top: 80%;

}